.background_color_active
{
    background-color: rgb(84, 141, 255);
    border: 1px solid rgb(84, 141, 255);
    border-radius: 7px;
}
.background_color_nonactive
{
    background-color: rgb(248, 250, 252);
    border: 1px solid rgb(248, 250, 252);
    color: black;
    border-radius: 7px;
}