.card_style
{
    box-shadow: 1px 1px 7px 7px rgba(211, 211, 211, 0.479);
    border-radius: 5px;
    border: 1px dashed lightgray;
}

.advisor_icon
{
    font-size: 190%;
    color: #0575E6;
}

.color_gray
{
    color: gray;
}

.padding_admin
{
    padding-left: 5%;
    padding-right: 5%;
}