@import "../../../../Assets/Scss/veriables.scss";
@import "~react-pro-sidebar/dist/scss/styles.scss";

.header_height
{
    background-color: #CBDAFF;
    height: 100vh;
}

.img_height
{
    height: 100vh;
    width: 90%;
}

.padding_nami_landing
{
    padding-left: 7%;
    font-weight: 900;
    font-size: 80%;
    color: #46417A;
}

.heading_color_landing
{
    // font-weight: 900;
    font-size: 300%;
    color: #25224A;
}

.subheading_landing
{
    font-size: 115%;
    font-weight: 500;
}

.fontSizejoin1
{
  font-size: 110%;   
  font-weight: 900;
  background-color: #25224B;
  color: white;
}

.fontSizejoin2
{
  font-size: 110%;   
  font-weight: 900;
  color: #25224B;
}



@media screen and (max-width: 480px) {
    .header_height
    {
     padding-top: 20%;
    }
    .card_display
    {
        display: none;
    }
 
   }